.gradle/
gradle.properties
build/

# Eclipse
.classpath
.project
.settings/
bin/

# Intellij
.idea/
*.iml
*.iws
*.run
out/

*.DS_Store
venv/lib/
venv/bin/
venv/include

db/blazegraph.jar
db/citiesKG.jnl
db/rules.log
db/vocabularies/target/
db/*.gml
db/appearance


# Web-Map-Client node modules
*/node_modules/*

impexp-core/test_config.properties

*/target/
*/*/target/

db/RWStore.properties
db/vocabularies/src/main/resources/config.properties
${tomcatPath}/

# Visualisation files
*/3dwebclient/test/*
*/3dwebclient/*.png
*/3dwebclient/*.kml
*/3dwebclient/exported_*
