.gradle/
gradle.properties
build/

# Eclipse
.classpath
.project
.settings/
bin/

# Intellij
.idea/
*.iml
*.iws
out/

*.DS_Store
venv/lib/
venv/bin/
venv/include

db/blazegraph.jar
db/citiesKG.jnl
db/rules.log
db/vocabularies/target/
db/*.gml
db/appearance


# Web-Map-Client node modules
node_modules/*

impexp-core/test_config.properties
impexp-core/test_config.properties

*/target/

db/RWStore.properties
db/vocabularies/src/main/resources/config.properties
${tomcatPath}/

3dwebclient/test/*
3dcitydb-web-map-1.9.0/3dwebclient/berlinExample/
3dcitydb-web-map-1.9.0/node_modules/